body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
  color: #1d1d1d;
}

.movie {
  transition: transform 500ms;
  margin-bottom: 2rem;
}

.movie:hover {
  transform: scale(1.4);
  z-index: 1;
  cursor: pointer;
}

.movie img {
  max-width: 100%;
  border-radius: 15px;
  display: block;
}

.movie .tiptext {
  visibility: hidden;
  height: 40px;
  width: 40px;
  background-color: #a072b2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 85%;
  bottom: 90%;
  z-index: 1;
}

.movie:hover .tiptext {
  visibility: visible;
}

.logo {
  margin-left: 3rem !important;
}

.search-box{
  margin-left: 1rem;
}

@media (width < 576px) {
  
  .logo {
    margin-left: -1.5rem !important;
  }

  .search-box {
    margin-left: 0.5rem;
  }

  .star-rating {
    margin-left: 0.5rem;
  }

  .movie:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  .movie .tiptext {
    right: 40%;
  }
}

.on {
  color: #ffc107;
}
.off {
  color: #e4e5e9;
}

